<head>
    <title>GanoStore - Про нас</title>
</head>

{% extends 'base.html' %}

{% block content %}
    <div class="about-us-container">
        <h2>Про нас</h2>
        <p>Ми команда ентузіастів, яка працює над створенням GanoStore - платформи для обміну та розповсюдження
            програмного забезпечення. Наша мета - створити зручний та безпечний простір, де кожен зможе знайти необхідне
            програмне забезпечення або поділитися власними розробками зі спільнотою.</p>
        <p>Ми віримо в силу відкритого доступу та співпраці, тому GanoStore підтримує вільний обмін програмами та
            відкритий діалог між користувачами. Наш сайт надає можливість не тільки завантажувати та розповсюджувати
            програми, але й обговорювати їх, ділитися відгуками та рейтингами.</p>
        <p>За основу нашої роботи ми беремо принципи безпеки, прозорості та відкритості. Ми постійно працюємо над
            покращенням функціоналу сайту, забезпечуючи високий рівень захисту даних та зручність використання.</p>
        <p>Команда GanoStore - це професіонали в області IT, дизайну, маркетингу та управління проектами. Ми об'єднали
            наші знання та досвід, щоб створити платформу, яка відповідає сучасним вимогам та потребам користувачів.</p>
        <p>Дякуємо, що обрали GanoStore. Ми цінуємо кожного користувача та завжди відкриті до ваших пропозицій та
            відгуків.</p>
    </div>
{% endblock %}
