{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="password-reset-form-container">
        <h2 class="form-heading" style="display: block; width: 20%; margin: 0 auto; margin-bottom: 1%;">Відновлення паролю</h2>
        <form method="post" class="password-reset-form">
            {% csrf_token %}
            <div class="form-group" style="display: block; justify-content: center;">
                {{ form.email|add_placeholder:"Пошта" }}
                {{ form.email.errors }}
            </div>
            <button type="submit" class="submit-btn" style="display: block; width: 20%; margin: 0 auto;">Надіслати запит на відновлення паролю</button>
        </form>
    </div>
{% endblock %}