{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="secret-question-form-container">
        <h2 class="form-heading">Відповідь на секретне питання</h2>
        <p class="question-prompt">Будь ласка, введіть відповідь на ваше секретне питання.</p>
        <form method="post" class="secret-question-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.answer|add_placeholder:"Відповідь..." }}
                {{ form.answer.errors }}
            </div>
            <button type="submit" class="submit-btn">Перевірити відповідь</button>
        </form>
    </div>
{% endblock %}
